html,
body {
	margin: 0;
	padding: 0;
	/* background-color: black; */
}

canvas {
	background-color: black;
	display: block;
	border: 2px solid #00000080;
	box-shadow: 2px 2px 15px #00000080;
	margin: 60px auto;
	width: 1000px;
}
